.header {
    background-color: var(--black);
    position: sticky;
    top: 0;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
}

.header__logo {
    width: 10rem;
}

.nav__link {
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    padding: 2rem 0;
    cursor: pointer;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.header__basket {
    width: 3rem;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--pink);
    transition: width 1s ease-in-out;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link--active::after {
    width: 100%;
}

.header__button {
    display: none;
}

.header__nav--mobile {
    display: none;
}

.button__hamburger {
    background-color: var(--black);
    cursor: pointer;
    height: 50px;
}

.badge {
    z-index: 99;
    position: absolute;
    top: 1.7rem;
    right: -0.3rem;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 600px) {
    .header__nav {
        display: none;
    }

    .header__button {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        background-color: transparent;
    }

    .header__nav--mobile {
        display: flex;
    }

    .header__section {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 20vh;
        height: 100vh;
        width: 100vw;
        background-color: var(--black);
        transform: translateX(100vw);
        transition: transform 1s ease-in-out;
    }

    .open {
        transform: translate(0);
        width: 100vw;
    }
}