.cart__wrapper{
    background-color: var(--pink);
    font-family: "Inter", sans-serif;
}

.cart{
    background-color: var(--white);
    width: 80%;
    padding: 3rem;
    border-radius: 1rem;
    margin: 2rem auto;
    min-height: 55vh;
    place-content: center;
}

.cart__title,
.cart__item-title{
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}
.cart__title{
    margin-bottom: 2rem;
}
.cart__divider{
    height: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.cart__items{
    display: flex;
    gap: 1rem; 
    flex-direction: column;
}

.cart__item-image{
    height: 200px;
}

.cart__item-details,
.cart__item,
.cart__item-quantity,
.cart__description-price,
.cart__summmary,
.cart__total,
.cart__item-wrapper,
.cart_item,
.cart__item-controls{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cart__item-details{
    flex: 1;
}
.cart__item-title{
    font-size: 34px;
    text-align: start;
}

.cart__summmary {
    margin: 1rem;
}

.cart__item,
.cart__item-quantity,
.cart__description-price,
.cart__summmary,
.cart_item,
.cart__item-controls{
    flex-direction: row;
}

.cart_item{
    gap: 1rem;
}
.cart__item-wrapper{
    justify-content: normal;
    margin-top: 2rem;
}

.cart__item-quantity{
    gap: 1rem;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--pink);
}

.cart__item-decrease,
.cart__item-increase{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--black);
    font-size: 30px;
    padding: 5px 10px;

}
.cart__item-delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart__item-delete-icon{
    height: 40px;
}

.cart__description-price{
    align-items: center;
    font-size: 20px;
}

.cart__description-price-text{
    font-size: 24px;
    color: var(--black);
    font-weight: 700;
}

.cart__total{
    padding-left: 2rem;
    gap: .3rem;
    align-self: center;
}
.cart__total-text{
    font-weight: 400;
    font-size: 20px;
}

.cart__total-price{
    font-size: 24px;
    font-weight: 700;
}

.cart__checkout{
    border: none;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 1rem;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.cart__empty {
    font-size: 30px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    margin: 50px;
}

@media (min-width: 600px) and (max-width: 800px) {
    .cart{
        padding: 2rem;
    }
    .cart__item-image{
        height: 160px;
    }
    .cart__item-details{
        gap: .5rem;
    }
    .cart__item-title{
        font-size: 24px;
    }
    .cart__item-quantity{
        gap: .5rem;
        padding: 5px 10px;
    }
    .cart__item-decrease{
        padding: 5px 5px;
    }
}

@media (max-width: 600px) {
    .cart{
        padding: 2rem;
        width: 90%;
    }
    .cart__title{
        margin-bottom: 1rem;
        font-size: 30px;
    }
    .cart_item{
        gap: 2rem;
        flex-direction: column;
    }
    .cart__item-image{
        width: 100%;
        height: auto;
    }
    .cart__item-details{
        gap: .5rem;
    }
    .cart__total{
        padding-left: 0;
    }

    .cart__item-title {
        text-align: center;
    }

    .cart__summmary {
        flex-direction: column;
        gap: 15px;
    }

    .cart__empty {
        font-size: 30px;
    }
}

/*
Författare: Najib

Edited: Diliara
La till text-decoration: none; på .cart__checkout
*/