.edit-item__wrapper {
    min-height: 65vh;
    height: 100%;
    background-color: var(--purple);
    margin: 0 auto;
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-item {
    width: 80%;
    max-width: 620px;
    background-color: var(--white);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    position: relative;
    gap: 1rem;
}

.edit-item__heading {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}

.edit-item__line {
    margin: auto;
    width: 90%;
    align-self: center;
}

.edit-item__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7rem;
    font-size: 1.2rem;
}

.edit-item__edit {
    height: 2rem;
    background-color: transparent;
    border: none;
    position: absolute;
    opacity: 0.6;
    top: 1rem;
    right: 1rem;
}

.edit-item__components {
    list-style-type: none;
}

.edit-item__component-item {
    padding-left: -10px;
}

.edit-item__edit-img {
    height: 3rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.edit-item__edit-img:hover,
.edit-item__edit-img:active {
    scale: 1.1;
}

.edit-item__img {
    width: 30vw;
    min-width: 10rem;
    border-radius: 10px;
}

.strong {
    font-weight: 900;
}

.edit-item__form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 90%;
    gap: .8rem;
    font-family: "Inter", sans-serif;
}

.form__popular {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.2rem;
}

.edit-item__label {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.edit-item__input {
    background-color: var(--pink70);
    padding: 1rem;
    margin: 0.5rem 0rem;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
}

.edit-item__textarea {
    margin: 0.5rem 0rem;
    background-color: var(--pink70);
    padding: 1rem;
    border-radius: 10px;
    min-height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.edit-item__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edit-item__button {
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    border: none;
    width: 200px;
    height: 60px;
    align-self: center;
}

.edit-item__button--back {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    box-shadow: #808080a8 2px 4px;
}

.edit-item__button:active {
    scale: 0.9;
}

.edit-item__loading {
    min-height: calc(100vh - 20vh - 286.71px);
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-item__componentHeader {
    font-weight: 700;
    font-size: 1.2rem;
}

.edit-item__component-item {
    background-color: var(--green);
    margin: 0.5rem 0;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-item__delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.edit-item__component-btn {
    margin: 2rem 0;
    background-color: var(--green);
    border-radius: 10px;
    border: none;
    padding: 1rem;
    width: 200px;
    font-weight: 600;
    font-size: 1.2rem;
    align-self: center;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.edit-item__component-btn:active {
    scale: 0.9;
}

@media (max-width: 768px) {
    .edit-item {
        width: 90%;
        font-size: 1rem;
        margin: 2rem auto;
    }

    .edit-item__wrapper {
        margin: 0;
        padding: 0;
    }

    .edit-item__buttons {
        flex-direction: column-reverse;
        
    }
}